#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.card {
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
